body {
    background: #78C0E0;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

li {
    font-size: large;
}

.visit {
    padding: 60px 60px 60px 60px;
}
